{% extends 'base.html.twig' %}

{% block title %}{{ app_name }} - Me connecter{% endblock %}

{% block body %}
    <div class="card">
        <h1 class="card-header">Me connecter sur {{ app_name }}</h1>
        <div class="card-body">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <div class="form-group">
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                </div>
                <div class="form-group">
                    <label for="inputPassword">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" required>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <button class="btn btn-primary" type="submit">Me connecter</button>
            </form>
        </div>
    </div>
{% endblock %}
