{% extends 'base.html.twig' %}

{% block title %}{{ app_name }} - Accueil{% endblock %}

{% block body %}
    {% if app.user %}
        <h1 class="display-4 mb-4">Bienvenue {{ app.user.name }} !</h1>
        <div class="card">
            <div class="card-body">
                <form action="{{ path('training')}}" class="d-flex" id="subject_form">
                    <div class="w-100 ml-2">
                        <h2>Choix d'une base de données</h2>
                        <select name="database" id="database" class="custom-select">#}
                            <optgroup label="Choisir une base de données">
                            {% for database in databases %}#}
                                    <option value="{{ database }}">{{ database }}</option>
                                {% endfor %}
                            </optgroup>

                        </select>
                    </div>

                    <div class="w-100 mr-2">
                        <h2>Choix d'un sujet</h2>
                        <select name="sujet" id="sujet" class="custom-select">
                            <optgroup label="Choisir un sujet">

                            </optgroup>
                        </select>
                    </div>

                    <div>
                        <button type="submit" class="mt-4 btn btn-lg btn-primary" >Valider</button>
                    </div>
                </form>

            </div>
        </div>
    {% else %}
        <div class="card">
            <div class="card-body">
                <h1 class="display-4">Bienvenue inconnu !</h1>
                <p class="lead">
                    SQL Training est une plate-forme d'entraiment au SQL. Tu peux jouer avec les différentes tables mises à ta disposition : sélectionner, modifier, insérér et même supprimer tous les données si tu le souhaites !
                </p>
                <p>
                    Afin de pouvoir utiliser l'application, tu dois créer un compte pour des raisons de sécurité.
                </p>
                <div class="flex">
                    <a href="{{ path('app_login') }}" class="btn btn-primary">Me connecter</a>
                    <a href="{{ path('app_register') }}" class="btn btn-secondary">M'inscrire</a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

 {% block javascripts %}
     {{ encore_entry_script_tags('home') }}
 {% endblock %}

