{% extends 'base.html.twig' %}

{% block title %}{{ app_name }} - Accueil{% endblock %}

{% block body %}
    {% if app.user %}
        <h1 class="display-4 mb-4">Bienvenue {{ app.user.name }} !</h1>
        <div class="card">
            <div class="card-body">
                <form action="" class="d-flex" id="subject_form">
                    <div class="w-100 mr-2">
                        <h2>Choix d'un sujet</h2>
                        <select name="" id="" class="custom-select">
                            <option value="">Service de maintenance</option>
                            <option value="">Médiathèque</option>
                            <option value="">Vie d'un livre</option>
                            <option value="">Pharmacie</option>
                            <option value="">Tinygpao</option>
                            <option value="">Société logistique</option>
                            <option value="">Plateforme logistique</option>
                        </select>
                    </div>
                    <div class="w-100 ml-2">
                        <h2>Choix d'une base de données</h2>
                        <select name="" id="" class="custom-select">
                            <option value="">MySQL</option>
                            <option value="">PostgreSQL</option>
                            <option value="">SQLite</option>
                        </select>
                    </div>
                </form>
                <button type="submit" class="mt-4 btn btn-lg btn-primary" id="submitFormButton">Valider</button>
            </div>
        </div>
    {% else %}
        <div class="card">
            <div class="card-body">
                <h1 class="display-4">Bienvenue inconnu !</h1>
                <p class="lead">
                    {{ app_description }}
                </p>
                <p>
                    Afin de pouvoir utiliser l'application, tu dois créer un compte pour des raisons de sécurité.
                </p>
                <div class="flex">
                    <a href="{{ path('app_login') }}" class="btn btn-primary">Me connecter</a>
                    <a href="{{ path('app_register') }}" class="btn btn-secondary">M'inscrire</a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script>
        let submitFormButton = document.getElementById('submitFormButton')
        submitFormButton.addEventListener('click', (e) => {
            e.preventDefault()
            console.log("hey")
            const form = document.getElementById('subject_form')
            console.log(form)
        })
    </script>
{% endblock %}
