<h2 class="mt-4">Commentaires</h2>
{%  if comments is empty %}
        <span colspan="4">no records found</span><br>
{#        <a href="{{ path('comment_new', {'sujet' : sujet}) }}">Nouveau commentaire</a>#}
{% else %}
        {% for comment in comments %}
                {% if comment.idSujet == sujet and comment.idQuestion == 1 and comment.idDatabase == database%}
                        <div class="bg-white p-3 mb-2 rounded-sm shadow">
                                <h5 class="text-uppercase font-weight-bold">{{ comment.idUser.firstname }}  {{ comment.idUser.lastname }}</h5>
                                <span>
                                        {{ comment.content }}
                                </span><br>
                                <a href="{{ path('comment_edit', {'id': comment.id}) }}">edit</a>
                        </div><br>
                {% endif %}
        {% endfor %}
{#        <a id="newCommentaire" href="{{ path('comment_new', {'sujet' : sujet, 'question' : 1}) }}">Nouveau commentaire</a>#}
{% endif %}
