{% extends 'base.html.twig' %}

{% block title %}Sujet {{ sujet }}{% endblock %}

{% block body %}

    <h1 class="mb-5">Bienvenue sur le sujet {{ sujet }}</h1>

    <div class="d-flex justify-content-between align-items-center">
        <div>
            <h2>Choix d'un exercice</h2>
            <select name="exercice" id="" class="custom-select">
                {% for key, value in exercices %}
                    <optgroup label="{{ key }}">
                        {% for exercice in value.questions %}
                            <option value="{{ exercice }}">{{ exercice }}</option>
                        {% endfor %}
                    </optgroup>
                {% endfor %}
            </select>
        </div>
        <a class="btn btn-primary" href="{{ path('home')}}">Retour à la liste des sujets</a>
    </div>


    <h2 class="mt-4">Votre requête</h2>
    <textarea class="form-control" id="request"></textarea>

    {% include 'training/_your-responses.html.twig' %}

    {% include 'training/_requested-responses.html.twig' %}

    {% include 'training/_comments.html.twig' %}


{% endblock %}

{#{% block javascripts %}#}
{#    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/codemirror.min.js"></script>#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/mode/sql/sql.min.js" integrity="sha512-XYk/tiIK55K3IheZ6V4bIackbqe6VgHmDujB7Gzx6DKY4juTq2oMNbfnD6DIcgQvE3czNK6yghz1cGkB2r1zzg==" crossorigin="anonymous"></script>#}
{#{% endblock %}#}
