{% extends 'base.html.twig' %}

{% block title %}Sujet {{ sujet }}{% endblock %}

{% block body %}

    <div class="d-flex justify-content-between align-items-center">
        <div>
            <h2>Choix d'un exercice du sujet {{ sujet }} avec {{ database }}</h2>
            <select name="exercice" id="exercice" class="custom-select">
                {% for key, value in exercices %}
                    <optgroup label="{{ key }}">
                        {% for exercice in value.questions %}
                            <option value="{{ exercice }}">{{ exercice }}</option>
                        {% endfor %}
                    </optgroup>
                {% endfor %}
            </select>
        </div>
        <div>
            <a class="btn btn-secondary" id="export-button" target="_blank" href="{{ path('training_export') }}">Exporter</a>
            <a class="btn btn-primary" href="{{ path('home')}}">Retour à la liste des sujets</a>
        </div>
    </div>

    <div>
        <h2>Consigne</h2>
        <p>Vous devez effectuer les rêquetes de création et d'insertion dans l'ordre donné.
        <br>Vous pouvez effectuer les rêquetes de questionnement dans l'ordre voulu.</p>
    </div>

    <div id="options">
        <button class="btn btn-secondary" id="supression">Supprimer ma base de données</button>
    </div>



    <h2 class="mt-4">Votre requête</h2>
    <textarea class="form-control" id="request"></textarea>
    <a class="btn btn-primary" id="valideRequest" database="{{ database}}" sujet="{{ sujet }}">Valider ma requête</a>

    <h2 class="mt-4" >Vos réponses</h2>
    <div id="responses"></div>


    <h2 class="mt-4">Réponses attendues</h2>
    <button class="btn btn-secondary" id="voirReponse">Voir la réponse</button>
    <div id="requested"></div>



    {% include 'comment/index.html.twig' %}

{% endblock %}

 {% block javascripts %}
     {{ encore_entry_script_tags('training') }}
 {% endblock %}