{% extends 'base.html.twig' %}

{% block title %}{{ sujet.titre }}{% endblock %}

{% block body %}

    <h1 class="mb-5">Bienvenue sur l'entrainement de {{ sujet.titre }}</h1>

    <div class="d-flex justify-content-between align-items-center">
        <div>
            <h2>Choix d'un exercice</h2>
            <select name="exercice" id="" class="custom-select">
                {% for key, value in exercices %}
                    <optgroup label="{{ key }}">
                        {% for exercice in value.questions %}
                            <option value="{{ exercice }}">{{ exercice }}</option>
                        {% endfor %}
                    </optgroup>
                {% endfor %}
            </select>
        </div>
        <a class="btn btn-primary" href="{{ path('home')}}">retour</a>
    </div>


    <h2 class="mt-4">Votre requête</h2>
    <textarea class="form-control" id="request"></textarea>

    <h2 class="mt-4">Vos réponses</h2>
    <table class="table" id="responses">
        <tr>
            <td>coucou</td>
            <td>lol mdr trop cool</td>
            <td>lalalalalalala</td>
        </tr>
    </table>

    <h2 class="mt-4">Réponses attendues</h2>
    <table class="table" id="requested">
        <tr>
            <td>coucou</td>
            <td>lol mdr trop cool</td>
            <td>lalalalalalala</td>
        </tr>
    </table>

    <h2 class="mt-4">Commentaires</h2>
    <table class="table">
        <tr>
            <td>coucou</td>
            <td>lol mdr trop cool</td>
            <td>lalalalalalala</td>
        </tr>
    </table>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/codemirror.min.js"></script>
    <script>
        const textarea = document.getElementById('request')
        const editor = CodeMirror.fromTextArea(textarea, {
            lineNumbers: true,
            mode: 'sql'
        })
    </script>
{% endblock %}
